/* .fundoAbout{
    background-image: url(../../assets/header/fundo3.jpg);
    height: 380px;
}

.perfil2 img{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    position: relative;
    margin-top: 33px;
    margin-left: 6%;
}

.perfil2 h1{
    position: relative;
    margin-left: 60%;
}
 */
